.container-account {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    place-items: center;
    text-transform: uppercase;
}

<<<<<<< HEAD
.edit-user-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

=======
>>>>>>> a9b4980be88a28711daa9d202baa4f6184dca466
.field-edit {
    width: 50%;
    height: 70px;
    margin: 10px;
}

.field-edit input {
    width: 100%;
    height: 30px;
}

.field-edit em, i {
    color: #cccccc;
    font-size: 9px;
}

.field-edit label {
    font-size: 18px;
}

.to-update input {
    margin-top: 20px;
    border: none;
    width: 300px;
    height: 35px;
    font-size: 15px;
    background-color: #7EC755;
    color: #ffffff;
    text-transform: uppercase;
}

.danger-zone {
    margin-top: 30px;
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    justify-content: space-evenly;
=======
    flex-direction: column;
>>>>>>> a9b4980be88a28711daa9d202baa4f6184dca466
    width: 50%;
    height: auto;
    align-items: center;
    font-size: 15px;
}

.danger-zone input {
    border: none;
    width: 200px;
    height: 35px;
    font-size: 15px;
    background-color: #E04327;
    color: #ffffff;
    text-transform: uppercase;
<<<<<<< HEAD
    margin-top: 10px;
=======
>>>>>>> a9b4980be88a28711daa9d202baa4f6184dca466
}

.new-img-profile {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 1px solid #000000;
    margin-bottom: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> a9b4980be88a28711daa9d202baa4f6184dca466
