.mainChartContainer {
    width: 90%;
    height: auto;
    margin: 10px 15px 10px 0;
    box-shadow: 1px 1px 20px 1px rgba(000, 000, 000, 0.2);
    border-radius: 10px;
    padding: 25px;
}

.mainChartContainer h2 {
    margin: 20px 45px;
}

.containerDashboard {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.containerSecondaryDashboard {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.secondaryChartContainer {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 20px 1px rgba(000, 000, 000, 0.2);
    border-radius: 10px;
    padding: 5px;
}

.wrapperSecondaryChart {
    display: flex;
    flex-direction: column;
    width: 28%;
    height: auto;
    margin: 25px;
}

.loading-page-to{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

@media(min-width: 550px) and (max-device-width:1024px) {
    .containerSecondaryDashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .wrapperSecondaryChart {
        display: flex;
        justify-content: center;
        width: 60%;
        height: auto;
        margin: 25px;
    }

    .mainChartContainer {
        margin: 10px 0 10px 0;
        width: 93%;
    }
}

@media (max-device-width: 450px ){
    .containerDashboard {
        margin-top: 100px;
    }
}
