* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

.wrapper-page {
  margin-left: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.notice,
.alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: black;
  z-index: 999;
  padding: 10px;
  margin: 0;
  animation: 0.5s slideUp;
}

@keyframes slideUp {
  from { transform: translateY(100px); }
  to { transform: translateY(0px); }
}

.link-to-home {
  color: #ffffff;
  font-weight: 500; 
  font-size: 35px;
}

@media (max-device-width:1024px) {
  .wrapper-page {
    margin-left: 0;
  }

  .first-big-title {
    margin-left: 70px;
  }
}
