* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

.wrapper-page {
  margin-left: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.notice {
  position: relative;
  margin-top: 0;
}

.alert {
  position: relative;
  margin-top: 0;
}
