* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

.wrapper-page {
  margin-left: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.notice,
.alert {
  position: absolute;
  top: 120px;
  color: red;
  z-index: 999;
  margin-left: 50px;
}

.link-to-home {
  color: #ffffff;
  font-weight: 500; 
  font-size: 35px;
}

@media (max-device-width:1024px) {
  .wrapper-page {
    margin-left: 0;
  }

  .first-big-title {
    margin-left: 70px;
  }
}