html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
html, body, div, a, i, button, select, option, optgroup, hr, br { 
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.landing-navbar {
  background-color: rgba(43, 156, 43, 0.8);
  cursor: pointer;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
}

#logo {
  width: 33px;
  height: auto;
}

#logo:hover {
  filter: drop-shadow(2px 2px 10px rgba(241, 238, 53, 0.8));
}

.logo-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  object-fit: cover;
}

.logo-container h1 {
  font-weight: 700;
}

.create-account-btn {
  border: 0;
  background-color: rgb(178, 219, 83);
  width: 300px;
  height: 100%;
  font-size: 20px;
}

.create-account-btn:hover {
  background-color: rgba(56, 124, 56, 0.8);
  cursor: pointer;
}

.create-account-btn a {
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}

.textWrapper {
  max-width: 700px;
  font-size: 14px;
  font-style: normal;
  padding: 10px 20px;
} 

.textWrapper h1 {
  font-weight: 700;
}

.small-el,
.big-el {
  animation: spin 4s linear infinite;
}

@keyframes spin { 
  100% { transform: rotate(360deg) } 
}

.nav-pages {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 42%;
}

.nav-pages a {
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.fix-parallax-to {
  background-color: #64AE55;
  width: 100%;
  height: 500px;
  display: absolute;
  bottom: -1000px;
}

@media (max-device-width:1367px) {
  .big-el{
    margin-top: 20px;  
  }
}

@media (max-device-width:1026px) {
  .nav-container {
    width: 90%;
    white-space: nowrap;
  }

 

  .first-img-parallax {
    position: fixed;
    bottom: 10px;
  }

  .second-img-parallax{
    position: fixed;
    bottom: 112px;
  }

  .nav-pages {
    width: 60%;
  }

  .small-el {
    margin-top: 220px;
  }

  .big-el{
    margin-top: 300px;  
  }
}

@media (max-device-width:768px) {
  .small-el {
    margin-top: -27px;
  }

  .big-el{
    margin-top: 165px;  
  }
}

@media (max-device-width:450px) {

  .small-el {
    margin-top: -40px;
  }

  .big-el{
    margin-top: 250px;  
  }
}

@media (max-device-width:375px) {
  .small-el {
    margin-top: -45px;
  }

  .big-el{
    margin-top: 200px;  
  }
}

