#leaderboard-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 110vh;
}

.line-leaderboard-page{
  width: 1px;
  height: 90vh;
  background-color: rgba(000, 000, 000, 0.45);
}

.rank-container {
  color: #000000;
  box-shadow: 1px 1px 10px 1px rgba(000, 000, 000, 0.2);
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  height: auto;
  width: 35%;
}

.leaderboard-title {
  border-radius: 5px;
  background-color: rgb(11, 116, 11);
  color: white;
  width: 300px;
}

.rank-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.rank-user-box {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.35s;
  border-bottom: 1px solid rgb(11, 116, 11);
}

.leader-points{
  color: rgb(11, 116, 11);
  font-weight: bold;
}

.rank-user-box:hover {
  color: #ffffff;
  background-color: rgb(11, 116, 11);
  transform: scale(1.05);
}

.rank-user-box:hover .leader-points{
  color: #ffffff;
  background-color: rgb(11, 116, 11);
  transform: scale(1.05);
}

.rank-box {
  display: flex;
  flex-direction: column;
  place-items: center;
}

@media (max-device-width: 1366px) {
  .rank-container{
    width: 45%;
  }
}

@media (max-device-width:1024px) {
  .line-leaderboard-page {
    display: none;
  }

  #leaderboard-main {
    height: 80vh;
  }
}

@media (max-device-width: 866px ) {
  #leaderboard-main {
    height: auto;
    flex-direction: column;
  }

  .rank-container {
    margin-top: 25px;
    width: 80%;
  }
}
