.Modal {
    position: fixed;
    top: 150px;
    left: 400px;
    right: 400px;
    bottom: 150px;
    background-color: #ffffff;
  }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(120deg, rgba(11, 116, 11, 0.5) , rgba(255,255,255, 0.3), rgba(11, 116, 11, 0.5));
}

.contentModal{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  text-transform: uppercase;
}

.descriptionChallenge {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bodyChallenge {
  border-bottom: 1px solid rgba(11, 116, 11, 0.2);
  text-align: center;
  width: 95%;
}

.tipsForChallenge {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 90%;
}

.wrapperTips {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.numberTips{
  width: 10%;
}

.numberTips h3{
  font-size: 28px;
  font-weight: lighter;
  color: #000000;
}

.numberTips span {
  font-size: 18px;
}

.bodyTips {
  width: 90%;
  border-bottom: 1px solid rgba(11, 116, 11, 0.2);
}

.bodyTips span:first-of-type {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.bodyTips span:last-of-type{
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  padding: 5px;
  margin: 3px 0 0 0;
  background-color: rgba(11, 116, 11, 1);
}

@media (max-device-width:1367px) {
  .Modal {
    position: fixed;
    top: 50px;
    left: 100px;
    right: 100px;
    bottom: 50px;
    background-color: #ffffff;
  }
}

@media (max-device-width:1024px) {
  .Modal {
    position: fixed;
    top: 310px;
    left: 100px;
    right: 100px;
    bottom: 310px;
    background-color: #ffffff;
  }
}

@media (max-device-width: 549px ){
  .Modal {
    position: fixed;
    top: 400px;
    left: 50px;
    right: 50px;
    bottom: 400px;
  }
}